<h1>{{townName}}</h1>

<div class="train-times-container">
  <select ng-init="departure = departure || towns[0]" 
          ng-model="departure" 
          ng-options="town as town for town in towns">
  </select>
  <br>
  <select ng-init="destination = destination || towns[0]" 
          ng-model="destination" 
          ng-options="town as town for town in towns">
  </select>
</div>

<ul>
  <li ng-repeat="comment in comments">
    {{ comment.username }}
    {{ comment.text }}
    {{ comment.created_at | date:'hh:mm a MMM dd' }}
  </li>
</ul>

<commentform></commentform>