<h1>{{townName}}</h1>

<div class="train-times-container">
  <select ng-init="departure = departure || towns[0]" 
          ng-model="departure" 
          ng-options="town.name as town.name for town in towns">
  </select>
  <br>
  <select ng-init="destination = destination || towns[0]" 
          ng-model="destination" 
          ng-options="town.name as town.name for town in towns">
  </select>
</div>

<button ng-click="reverse()">Switch</button>

<calendar></calendar>

<div class="comments-wrapper">
  <commentform></commentform>

  <ul>
    <li ng-repeat="comment in comments">
      {{ comment.username }}
      {{ comment.text }}
      {{ comment.created_at | date:'hh:mm a MMM dd' }}
    </li>
  </ul>
</div>
